{% extends "layout.html" %}
{% block content %}
<div class="bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">Selamat Datang di Dashboard Marketing & Sales!</h2>
    <p class="text-gray-600">
        Ini adalah halaman utama untuk peran Marketing and Sales. Anda dapat mengelola data penjualan,
        melihat peramalan, dan mengakses Bill of Materials (BOM) dari menu di samping.
    </p>
    <div class="mt-6">
        <img src="/static/img/conveyor.jpeg" alt="Contoh Grafik Penjualan" class="rounded-lg shadow-sm mx-auto">
    </div>
    <p class="text-gray-600 mt-4">
        CV.TAN adalah sebuah perusahaan yang bergerak di bidang manufaktur, khususnya dalam produksi conveyor makanan.
    </p>
</div>
{% endblock %}
